.input-check{
    margin-top: 300px;
    /* margin-left: 320px; */
    background-color: palevioletred;
    padding: 5px;
    height: 145px;
    width: 350px;
};

input{
    /* border: 50px solid rgba(165, 39, 39, 0.846); */
}
.label{
    font-size: 38px;
}

#numcheck{
    /* border: 5px solid rgb(217, 48, 48); */
}

input:hover{
    border: 5px solid rgba(165, 39, 39, 0.846);
    background-color: rgb(251, 232, 232);
}

span{
    /* display: block; */
    height: 145px;
    width: 350px;
    background-color: palevioletred;
    padding: 0px;
    margin: 0px;
    
}
